* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
Haettenschweiler;
 Vedana, Geneva, Tahoma, sans-serif;
*/
body {
    background-image: url('/static/bgm.jpg');
    font-family: Arial, sans-serif;
    padding: 20px;
    height: 100%;

}

.container {
    max-width: 90%;
    min-height: 45vw;
    margin: auto;
    background: rgb(26, 61, 99);
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    color: black;
}
.container h1{  
    margin: 8px; 
    font-size: 70px;
    color:rgb(179,207,229);
    text-align: center;
}

#messages { 
    text-align: right;
    height: 600px;
    overflow-y: auto;
    background-image: url('/static/bgm.jpg');
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat ;
    padding: 12px;
    border-radius: 10px;
}

.msg {
    padding: 8px 10px;
    margin: 8px 0;
    border-radius: 8px;
}

.user {
    display: inline-block;
    color: white;
    background: rgb(26,127,167);
    
}

.bot {
    font-style: normal;
    text-align: left;
    background-color: rgb(179,207,229);

}

.controls {
    display: flex;
    gap: 10px;
    margin-top: 12px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
#textInput{
     background-color: rgb(179,207,229);

}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background: rgb(26,127,167);
    color: white;
    cursor: pointer;
}
#sendBtn:hover,#micBtn:hover{
    background-color: rgb(179,207,229);
    color: black;
}
